body{
    font-family: 'Manrope', sans-serif;
}


/* Navbar */
.btn-navbar{
    
    border-radius: 0px;
    color: white;
    background-color: #2487B6;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
}
.mynavbar{
    background-color: #060606;
}
.btn:hover{
    color: white;
}
.nav-logo{
    color: #2487B6;
    font-size: 45px;
}
.nav-item{
    padding-inline: 10px;
}
.nav-link{
    font-size: 16px;
    font-weight: 500;
}

/* Banner */
.banner-text{
    margin-top: 270px;
    padding-left: 40px;
}
.banner-img{
    margin-top: 100px;
}
.banner-title{
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.banner-p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 15px 0;
}
.first-link{
background-color: #2487B6;
text-decoration: none;
color: white;
padding: 10px 20px;
font-size: 18px;
font-weight: 400;
}
.second-link{
background-color: #484848;
text-decoration: none;
color: white;
padding: 10px 20px;
font-size: 18px;
font-weight: 400;
margin-left: 15px;
}

/* ---------------------Service---------------- */

.service-subtitle{
    font-size: 16px;
    font-weight: 500;
    color: #2487B6;
}
.service-title{
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.service-p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    
}
.service-link{
    background-color: #2487B6;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 255px;
}
.service-btn{
    margin-top: 65px;
}
.card-title{

    font-size: 24px;
    font-weight: 500;
    color: white;
    padding: 20px 0;
}
.card-p{
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.card-service{
    transition: all .5s;
}

.card-service:hover{

    border: 1px solid #2487B6 ;
}

/* Portfolio */

.protfolio-banner{

    background-color: #121212;
}
.img-portfolio{
   
    border: #444444 solid 3px;
    padding: 25px 25px;
    transition: all .9s;
}

.img-portfolio:hover{
border: #2487B6 solid 3px

}

.container-portfolio{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    
  }

  .container-portfolio .content {
    position: absolute; 
    bottom: 0;
    color: white;
    width: 100%;
    padding: 15px 35px;
  }

  /* Reviews */
.mydiv{
    background-color: #060606;

}

.reviews-subtitle{
    font-size: 16px;
    font-weight: 500;
    color: #2487B6;
}

.reviews-title{
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.reviews-p{
    font-size: 16px;
    font-weight: 400;
    color: white;

}

.reviews-link{
    background-color: #2487B6;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 255px;
}

.reviews-btn{
    margin-top: 65px;
}

.review-img{
    width: 90px;
    border-radius: 100px;
    

}

.head-p{
    color: #2487B6;
    font-size: 16px;
    font-weight: 500;
    
}
.text-p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    
}

.head-title{
    font-size: 24px;
    font-weight: 500;
    color: white;
    padding: 10px 0;
   
}

/* Team */

.team-card{
    background-color: #060606;
    transition: all .5s;
    margin-top: 20px;
}

.team-card:hover{
    border: 1px solid #2487B6 ;

}
.team-img{
    padding: 20px 20px;
    border-radius: 100%;
}
.team-title{
    padding-left: 20px;
    color: #2487B6;
    font-size: 14px;
    width: 400;
}
.team-subtitle{
    padding-left: 20px;
    color: white;
    font-size: 24px;
    width: 500;
}


hr {
    border-top: 2px solid #555555;
  }
  .team-link{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 15px;
  }

  /* Blog */

  .blog-date{
     background-color: #2487B6;
     color: white;
     text-decoration: none;
     padding: 5px 5px;
     font-size: 16px;
     width: 40%;
     margin-left: 76px;
  }

  .blog-link{

color: #2487B6;
text-decoration: none;
  }

  /* Contact */

  .list-group-item{

    background-color: #060606;
    color: white;
    font-size: 18px;
    
  }


  .form-label{

    color: white;
    font-size: 20px;
    
  }

  .btn{

    background-color: #2487B6;
    color: white;
    border-radius: 0%;
    margin-top: 15px;
  }

  